/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

@import url('https://fonts.googleapis.com/css2?family=Snippet&family=Tomorrow:ital@1&display=swap');

body{
    background-color: #ccc;
    font-family: 'Tomorrow', sans-serif;
    font-style: italic;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.content{
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}

.content form{
    text-align: center;
    padding: 20px;
}

h1{
    font-family: 'Snippet', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 0, 255);
}

hr{
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
}

.champ{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}


.champ > input{
    text-align: center;
    margin-top: 8px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
    color: rgb(25, 0, 255);
    font-size: 1.1rem;
}


.champ >input:focus{
    color: rgb(25, 0, 255);
    background-color: #ccc;
    outline: none;
}

.champ > label{
    color: rgb(255, 0, 255);
}
.champ > .gender{
    margin-top: 10px;
}


.notValid{
    color: rgb(255, 20, 20);
}


.btn{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1.2rem;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(141, 141, 255)), to(rgb(0, 68, 255)));
    background: -o-linear-gradient(top left, rgb(141, 141, 255), rgb(0, 68, 255));
    background: linear-gradient(to bottom right, rgb(141, 141, 255), rgb(0, 68, 255));
    outline: none;
    offset: 0;
    border: #ccc 1px solid;
    border-radius: 10px;
}


span{
    visibility: hidden;
    margin-top: 10px;
}

@media screen and (min-width : 778px){
    .content{
        width: 80%;
    }

    form{
        overflow: hidden;
    }

    .champ{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .champ>label, .champ>input, .champ>span{
        -webkit-box-flex: 0;
            -ms-flex: 0 1 30%;
                flex: 0 1 30%;
    }

    .checkbox{
        -moz-text-align-last: left;
             text-align-last: left;
    }

    .checkbox .check{
        margin-bottom: 20px;
    }

    .btn{
        float: right;
    }

    .champ .gender input{
        margin-right: 3px;
    }
    
    .champ .gender label{
        margin-right: 20px;
    }
    
}
